<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
<link rel="stylesheet" 
			  type="text/css" 
			  href="Lankala_Rahul.css">
    <title>L Rahul Reddy</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>

<body>
    <ul>
        <li><a class="active" href="home">Home</a></li>
        <li><a href="Population">Population</a></li>
      <li><a href="Contact">Contact</a></li>
      <li><a href="guestbook">GuestBook</a></li>
  </ul>
        //
    <h1>
        Rahul's Guestbook
        <a href="/new-entry" class="btn btn-primary pull-right">Write in the guestbook</a>
    </h1>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>